.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 0px;
    background-color: #F05D34;
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #FCB022;
}